<a href="https://colab.research.google.com/github/MarkBuchbach/Coursera_Capstone/blob/master/Week3Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import pandas as pd

In [7]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urllib.request.urlopen(url)

In [8]:
soup = BeautifulSoup(page, "lxml")

In [70]:
tables=soup.find_all("table")

In [72]:
table=soup.find('table', class_='wikitable sortable')

In [73]:
A=[]
B=[]
C=[]

for row in table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [75]:
df=pd.DataFrame(A,columns=['Post Code'])
df['Borough']=B
df['Neighbourhood']=C
df.head()

  Post Code             Borough                Neighbourhood
0     M1A\n      Not assigned\n               Not assigned\n
1     M2A\n      Not assigned\n               Not assigned\n
2     M3A\n        North York\n                  Parkwoods\n
3     M4A\n        North York\n           Victoria Village\n
4     M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [76]:
cutdf = df[df['Borough'] != 'Not assigned\n', ].copy()

In [77]:
cutdf = cutdf.replace(regex = "\n", value = "")

In [79]:
cutdf.index = range(len(cutdf.index))

In [80]:
cutdf

    Post Code  ...                                      Neighbourhood
0         M3A  ...                                          Parkwoods
1         M4A  ...                                   Victoria Village
2         M5A  ...                          Regent Park, Harbourfront
3         M6A  ...                   Lawrence Manor, Lawrence Heights
4         M7A  ...        Queen's Park, Ontario Provincial Government
..        ...  ...                                                ...
98        M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99        M4Y  ...                               Church and Wellesley
100       M7Y  ...  Business reply mail Processing Centre, South C...
101       M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102       M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Import and append coordinate data (part 2)

In [83]:
dfloc = pd.read_csv('http://cocl.us/Geospatial_data')
dfloc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [85]:
Merged = pd.merge(cutdf, dfloc, left_on=  ['Post Code'],
                   right_on= ['Postal Code'], 
                   how = 'left')

In [86]:
Merged.head()

  Post Code           Borough  ...   Latitude  Longitude
0       M3A        North York  ...  43.753259 -79.329656
1       M4A        North York  ...  43.725882 -79.315572
2       M5A  Downtown Toronto  ...  43.654260 -79.360636
3       M6A        North York  ...  43.718518 -79.464763
4       M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 6 columns]

In [87]:
Merged

    Post Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494
..        ...               ...  ...        ...        ...
98        M8X         Etobicoke  ...  43.653654 -79.506944
99        M4Y  Downtown Toronto  ...  43.665860 -79.383160
100       M7Y      East Toronto  ...  43.662744 -79.321558
101       M8Y         Etobicoke  ...  43.636258 -79.498509
102       M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 6 columns]

In [88]:
del Merged['Postal Code']

In [89]:
Merged

    Post Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494
..        ...               ...  ...        ...        ...
98        M8X         Etobicoke  ...  43.653654 -79.506944
99        M4Y  Downtown Toronto  ...  43.665860 -79.383160
100       M7Y      East Toronto  ...  43.662744 -79.321558
101       M8Y         Etobicoke  ...  43.636258 -79.498509
102       M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]